<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="TableauExtractRefresh"
   iconfile="ter.png"
   description="Refresh Tableau Extract"
   tooltip="This job entry updates an extract on the Tableau server"
   category="Utility"
   classname="org.openbi.kettle.plugins.refreshtableauextract.RefreshTableauExtract">
   <libraries>
    <library name="refreshtableauextract.jar"/>
   </libraries>
    
   <localized_category>
     <category locale="en_US">Utility</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Refresh Tableau Extract</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This step refreshes an extract on the Tableau server.</tooltip>
   </localized_tooltip>
   
</plugin>
